.tomorrow{
    padding: 12px;
    // background-color: #fcfcfc;
    background-color: #F4F8F4;
    border-radius: 12px;


     .title{
    font-size: 28px;
    font-weight: bold;
    // color: #333;
    color: #2F4F4F;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;


        li{
            display: flex;
            align-items: center;
            justify-content: space-between;


            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
            // background-color: #f9f9f9;
            background-color:#EEF6EF;
            transition: background 0.3s ease,transform 0.2s ease;
            // border-bottom: 1px solid #e0e0e0;
            border-bottom: 1px solid #A5C7B7;




            &:hover{
                // background-color: #f2f2f2;
                background-color: #D6EDE2;
                transform: translateY(-2px);

            }
            input{
                margin-right: 10px;
                width: 18px;
                height: 18px;
                // accent-color: #007bff;
                accent-color: #4CAF50;

            }
            label{
                font-size: 16px;
                font-weight: 500;
                // color: #444;
                color: #2F4F4F;
                flex: 1;


                .details{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 15px;
                    padding: 8px;
                    margin-top: 5px;
                    transition: opacity 0.3s ease-in-out;


                    .left{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // border-right: 1px solid #888;
                        border-right: 1px solid #A5C7B7;
                        gap: 5px;
                        padding-right: 10px;



                        .icon{
                            font-size: 12px;
                            // color: #777;
                            color: #2F4F4F;

                        }
                        p{
                            font-size: 12px;
                        }
                    }
                    .center{
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        // border-right: 1px solid #888;
                        border-right: 1px solid #A5C7B7;
                        gap: 15px;
                        padding-right: 10px;


                        span{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 20px;
                            height: 15px;
                            border-radius: 5px;
                            // background-color: rgb(230,226,226);
                            // color: #333;
                            background-color: #D6EDE2;
                            color: #2F4F4F;
                            font-size: 10px;
                            font-weight: bold;
                            margin-left: auto;
                        }
                        p{
                            font-size: 12px;
                        }

                    }

                    .right{
                        display: flex;
                        align-items: center;
                        justify-self: center;
                        gap: 5px;
                        padding-right: 10px;

                        .color{
                            height: 12px;
                            width: 12px;
                            background-color: red;
                            border: none;
                            border-radius: 3px;

                        }
                        p{
                            font-size: 12px;

                        }
                       

                        }


                }




            }
             .icon{
                            margin-left: auto;
                            font-size: 18px;
                            // color: #777;
                            color: #2F4F4F;
                            
                            &.rotate{
                                transform: rotate(90deg);
                            }
                            
                            
                        }


        }

    }
}