.home{
    display: flex;

    .homecontainer {
        flex: 6;
        background-color:  #F4F8F4;   /* main soft green background */
        padding: 10px 20px;

        .upcoming-title{
            display: flex;
            align-items: center;
            padding: 10px;

            p{
                font-size: 40px;
                font-weight: bold;
                color: #2F4F4F;   /* deep nature text */
            }

            span{
                height: 35px;
                width: 55px;
                background-color: #D6EDE2;  /* calm light green */
                border: 1px solid #A5C7B7;  /* theme border */
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 20px;
                font-weight: normal;
                font-size: 30px;
                color: #2F4F4F;
            }
        }

        .home-top{
            padding: 15px;
        }

        .home-bottom{
            display: flex;
            padding: 20px;
            gap: 10px;

            .home-left, 
            .home-right{
                flex: 1;
                padding: 15px;
                // background-color: #FFFFFF; 
               background-color: #F4F8F4;
                border-radius: 8px;
                border: 1px solid #A5C7B7;     /* gentle nature border */
                color: #2F4F4F;                /* readable dark green text */
            }
        }
    }
}

// .home{
//     display: flex;


//     .homecontainer {
//         flex: 6;
//         background-color: #f8f9fa;
//         padding: 10px 20px;


//         .upcoming-title{
//             display:flex;
//             align-items: center;
//             padding: 10px;

//             p{
//                 font-size: 40px;
//                 font-weight: bold;
//                 color: #2c2c2c;
            
            
            
//             }
//             span{
//                 height: 35px;
//                 width: 55px;
//                 background-color: #f0f0f0;
//                 border: 1px solid #e6eee6;

//                 border-radius: 5px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//                 margin-left: 20px;
//                 font-weight: normal;
//                 font-size: 30px;
//             }
//         }
//         .home-top{
//             padding: 15px;
//         }
//         .home-bottom{
//             display: flex;
//             padding: 20px;
//             gap: 10px;


//             .home-left, .home-right{
//                 flex: 1;
//                 padding: 15px;
//                 background-color: #ffffff;
//                 border-radius: 8px;
            
//             }
//         }

//     }



// }